@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Sofia+Sans:wght@100&display=swap');


* {
    /* border: 1px red solid;    */
    box-sizing: border-box;
}

:root {
    --shadow-color: rgba(163, 163, 163, 0.555);
}
body {
    font-family: 'Bebas Neue';
    width: 100%;
    height: 100%;
    margin: 0;
  }


main {
    height: 80%;
}

header {
    font-display: flex;
    flex-direction: row;
    width: 100%;
    height: 20%;
    text-align: center;
    padding: 0 3em;
  }

header h1 {
    font-size: 2.5rem;
    border: 1px grey solid;
    box-shadow: 5px 5px 1px var(--shadow-color) ;
    background-image: linear-gradient(60deg, rgb(0, 0, 0), rgb(60, 60, 60));
    color: white;
  }

header h2 {
    font-size: 2rem;
    border: 1px grey solid;
    box-shadow: 5px 5px 1px var(--shadow-color);
}


.icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 3rem;
    height: 50vh;
    align-items: center;
}

img {
    padding: 0;
    padding: 1.5rem;
    text-align: center;    
}

img:hover {
    padding: 1.8rem;
    border: 7px rgb(222, 222, 222) solid;
    box-shadow: 5px 5px 1px var(--shadow-color) ;
    transition: padding .5s;
    color: rgb(170, 165, 101);
}

.fa-large {
    font-size: 10rem;
    color: rgb(62, 62, 62);

}

p.caption {
    font-family: 'Bebas Neue';
    font-size: 2rem;
    font-weight: 200;
    color: rgba(56, 56, 56, 0.8);
}

.icon-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
}

div.score {
    margin-top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 50%;
}

span.score {
    font-size: 3rem;
    color:rgb(77, 77, 77);
}

.results {
    height: 25%;
    width: 100%;
    margin: 0;
    position: fixed;
    bottom: 0;
    display: flex;
    flex-direction: column;
}

.score-details {
    font-size: 2.5rem;
    font-weight: 100;
    margin:  0;
    text-align: center;
    color: white;
    background-image: linear-gradient(60deg, rgb(0, 0, 0), rgb(60, 60, 60));
}

.subtitle {
    position: absolute;
    bottom: 27%;
    left: 47.5%;
    font-size: 2em;
    color:rgb(162, 162, 162);
}

.press-key {
    color:rgb(125, 125, 125);
    text-align: center;
    font-size: 2rem;
    margin: .5rem 0;
    height: 10vh;
}

.inactive {
    color: transparent;
    transition: color .5s;
}

